---
import PageLayout from "@/layouts/Base.astro";

const meta = {
	description: "Oops! It looks like this page is lost in space!",
	title: "Page not Found!",
};
---

<PageLayout meta={meta}>
	<h1 class="title mb-6">404 | Page not Found</h1>
	<p class="mb-8"> Oops something went wrong</p>
</PageLayout>
