---
import { Icon } from "astro-icon/components";
import SocialList from "@/components/SocialList.astro";
import Title from "@/components/Title.astro";
import BaseLayout from "@/components/layout/Base.astro";
//import { getAllPosts, sortMDByDate } from "@/utils";
import { fade } from "astro:transitions";
//const MAX_POSTS = 5;
//const allPosts = await getAllPosts();
//const allPostsByDate = sortMDByDate(allPosts).slice(0, MAX_POSTS);

const work: { desc: string; href?: string; title: string }[] = [
	{
		title: "Currently",
		href: "#",
		desc: "A student majoring Electrical & Electronics Engineering",
	},
	{
		title: "Aymed Medikal Teknoloji (late 2025)",
		href: "https://aymed.com/",
		desc: "Interned briefly at Aymed during my final year long term internship",
	},
	{
		title: "Uludogan Teknoloji (mid 2025)",
		href: "https://uludogantech.com/",
		desc: "Interned briefly at Uludogan during summer of 2025",
	},
	{
		title: "Remora @ Teknopark (2024)",
		href: "https://remora.com.tr/",
		desc: "Interned briefly at Remora during my sophomore year",
	},
	{
		title: "Software developer",
		href: "#",
		desc: "A freelance developer building web/mobile applications",
	},
];
---

<!-- // do not change the description properties in the meta objects, used for SEO. -->
<BaseLayout
	meta={{ title: "Home", description: "孤独" }}
	transition:animate={fade({ duration: "0.4s" })}
>
	<section>
		<div class='mb-6 inline-flex items-end gap-x-2'>
			<div class='mb-auto'>
				<img
					alt='profile'
					class='rounded-full'
					height={100}
					loading='eager'
					src='https://avatars.githubusercontent.com/u/64834413'
					width={100}
				/>
			</div>
			<div>
				<p class='title'>Hi,</p>
				<h1 class='mb-4'>I'm Abdel Manan (amar jay).</h1>
				<SocialList />
			</div>
		</div>
	</section>
	<section>
		<p class='space-y-1'>
			<b>I'm Abdel Manan — most people call me Manan, or amar-jay online.</b>
			<br />
			recent EEE graduate, independent researcher, and a perennial student of engineering.
			<br />
			tinker with software, be it platform (web/mobile/desktop) or hardware (firmware/embedded/PCB design).
			<br />
			keeping up with the latest research primarily in monocular neural rendering, world models and CSI
			data inference.
			<br />
			like to learn about the formative years of industry, electronics and computers as a hobby.
			<br />
			trying my best to overcome my anxiety (my biggest obstacle) and to be a better communicator and
			team player.
			<br />
			just graduated, AI seems to be taking over everything, so trying to set my compass in this world.
			<br />
			I am open to any advice, mentorship or just a friendly chat. Please don't hesitate to reach out!
		</p>
		<div class='mt-2 flex flex-wrap gap-3'>
			<a class='inline-flex' download='TR-Resume-4.pdf' href='/TR%20Resume-4.pdf'>
				<span class='blog-link inline-flex font-bold'> Resume </span>
				<Icon
					aria-hidden='true'
					class='h-3 w-3 font-normal'
					focusable='false'
					name='mdi:arrow-top-right'
				/>
			</a>
			<a class='inline-flex' download='TR-CV-3.pdf' href='/TR%20CV-3.pdf'>
				<span class='blog-link inline-flex font-bold'> CV </span>
				<Icon
					aria-hidden='true'
					class='h-3 w-3 font-normal'
					focusable='false'
					name='mdi:arrow-top-right'
				/>
			</a>
		</div>
	</section>

	<section class='mt-8'>
		<Title as='p'>Work</Title>
		<dl class='space-y-4'>
			{
				work.map(({ desc, title, href }) => (
					<div class='flex flex-col gap-2 md:flex-row'>
						<dt>
							<span class='flex font-bold'>
								<a class='blog-link' href={href}>
									{title}
								</a>
								:
							</span>
						</dt>
						<dd>{desc}</dd>
					</div>
				))
			}
		</dl>
	</section>
</BaseLayout>
