---
import SocialList from "@/components/SocialList.astro";
import Title from "@/components/Title.astro";
//import PostPreview from "@/components/blog/PostPreview.astro";
import PageLayout from "@/layouts/Base.astro";
//import { getAllPosts, sortMDByDate } from "@/utils";
import { Image } from "astro:assets";
import { fade } from "astro:transitions";

//const MAX_POSTS = 10;
//const allPosts = await getAllPosts();
//const allPostsByDate = sortMDByDate(allPosts).slice(0, MAX_POSTS);

const techs: { desc: string; href: string; title: string }[] = [
	{
		desc: "A historical perspective of Integrated circuits, from flipflops to FPGA.",
		href: "/tags/i.c.",
		title: "I.C.'s",
	},
	{
		desc: "Generative Models, Variation of the architecture, trends and papers,...",
		href: "/tags/transformer",
		title: "Transformer",
	},
	{
		desc: "Dynamics of how react works internally, libraries and stuff",
		href: "/tags/react",
		title: "React",
	},
	{
		desc: "Accounting and Basic Financial analysis, perhaps on Time series pre-trained models",
		href: "/tags/finance",
		title: "Finance",
	},
	{
		desc: "Some stuff on english, turkish, french, arabic...",
		href: "/tags/language",
		title: "Languages",
	},
	{
		desc: "....",
		href: "#",
		title: "Faith",
	},
];
---

<PageLayout meta={{ title: "Home" }}>
	<section>
		<div class="mb-6 inline-flex items-end gap-x-2">
			<div class="mb-auto">
				<Image
					alt="profile"
					class="rounded-full"
					height={100}
					loading="eager"
					src="/profile.webp"
					width={100}
				/>
			</div>
			<div>
				<h1 class="title">Hi,</h1>
				<p class="mb-4">I'm Abdel-manan A.R. Junior (amar-jay).</p>
				<SocialList />
			</div>
		</div>
	</section>
	<section aria-label="Blog post list" class="mt-16">
		<Title>Posts</Title>
		<ul class="space-y-4">
			<span>None so far. In the coming days, I will start writing.....</span>
			<!--
			{
				allPostsByDate.map((p) => (
					<li class="flex flex-col gap-x-2 sm:flex-row">
						<PostPreview post={p} />
					</li>
				))
			}
      -->
		</ul>
	</section>
	<section class="mt-16">
		<Title>Technologies</Title>
		<dl class="space-y-4">
			{
				techs.map(({ desc, href, title }) => (
					<div class="flex flex-col gap-2 md:flex-row">
						<dt>
							<span class="flex">
								<a class="blog-link" href={href}>
									{title}
								</a>
								:
							</span>
						</dt>
						<dd>{desc}</dd>
					</div>
				))
			}
		</dl>
	</section>
</PageLayout>
