---
const {
	sources,
	tags = ["astro"],
	// the main content of the section
	title,
} = Astro.props;


const links: string[][] = sources && Object.entries(sources);
const contentTags: Record<string, string> = tags;
const tagLinks = {}
---

<div class="my-8 w-full rounded-sm bg-accent/10 p-4 shadow-sm sm:px-8 md:p-8 md:px-16">
	<!-- Section Title -->
	<h2 class="font-serif text-2xl font-medium text-black dark:text-gray-300">
		<a href={links?.[0]?.[1] ?? "#"}>
			{title}
		</a>
	</h2>
	<div class="inline-flex justify-center gap-3">
		{
			links?.map(([key, value]) => (
				<span>
					<a href={value}>{key}</a>
				</span>
			))
		}
	</div>
	<!-- Section Title -->

	<!-- Separator -->
	<span class="mb-8 mt-2 block h-0.5 w-24 bg-black dark:bg-gray-300"></span>
	<!-- Separator -->

	<!-- Main Content -->

  <div class="prose-underscore prose prose-sm text-black dark:text-white">
	<slot />
  </div>

	<!-- Main Content -->
	<div class="mt-5 flex justify-center gap-3 text-textColor/50">
		{
			tags &&
			contentTags.map((tag) => (
					<span>
						<a href={tagLinks[tag] ?? "/#"}>{tag}</a>
					</span>
				))
		}
	</div>
</div>
