---
import type { GetStaticPaths, Page } from "astro";
import type { CollectionEntry } from "astro:content";

import Pagination from "@/components/Paginator.astro";
import BookPreview from "@/components/blog/BookPreview.astro";
import BaseLayout from "@/components/layout/Base.astro";
import Bookshelf from "@/components/bookshelf.astro";
import { getAllPosts, getUniqueTags, sortMDByDate } from "@/utils/post";

export const getStaticPaths = (async ({ paginate }) => {
	const allPosts = await getAllPosts();
	const allPostsByDate = sortMDByDate(allPosts);
	const uniqueTags = getUniqueTags(allPosts);
	return paginate(allPostsByDate, { pageSize: 10, props: { uniqueTags } });
}) satisfies GetStaticPaths;

interface Props {
	page: Page<CollectionEntry<"post">>;
	uniqueTags: string[];
}

const { page } = Astro.props;

function fetchImage(olid: string) {
	return `https://covers.openlibrary.org/b/olid/${olid}-M.jpg`;
}

// Mock books data for the bookshelf
const books = [
	{
		title: "Dune",
		slug: "/books/dune",
		spineColor: "#d97706",
		textColor: "#ffffff",
		olid: "OL26242482M",
		coverImage: fetchImage("OL26242482M"),
	},
	{
		title: "The Martian",
		slug: "/books/the-martian",
		spineColor: "#b91c1c",
		textColor: "#ffffff",
		olid: "OL32815550M",
		coverImage: fetchImage("OL32815550M"),
	},
	{
		title: "Neuromancer",
		slug: "/books/neuromancer",
		spineColor: "#228B22",
		textColor: "#ffffff",
		olid: "OL27444262M",
		coverImage: fetchImage("OL27444262M"),
	},
	{
		title: "Foundation",
		slug: "/books/foundation",
		spineColor: "#C5A596",
		textColor: "#ffffff",
		olid: "OL51566464M",
		coverImage: fetchImage("OL51566464M"),
	},
	{
		title: "1984",
		slug: "/books/1984",
		spineColor: "#0f172a",
		textColor: "#ffffff",
		olid: "OL3174961M",
		coverImage: fetchImage("OL3174961M"),
	},
	{
		title: "The Rosie Proect",
		slug: "/books/rosie-project",
		spineColor: "#1591EA",
		textColor: "#ffffff",
		olid: "OL40231981M",
		coverImage: fetchImage("OL40231981M"),
	},
];

const meta = {
	title: "Books",
	description:
		"A personal archive of books I’ve read, am reading, or hope to read someday. I don’t read as often anymore, but I still like keeping track of the ones that stay with me.",
};

const paginationProps = {
	...(page.url.prev && {
		prevUrl: {
			text: `← Previous Books`,
			url: page.url.prev,
		},
	}),
	...(page.url.next && {
		nextUrl: {
			text: `Next Books →`,
			url: page.url.next,
		},
	}),
};
---

<BaseLayout meta={meta}>
	<h1 class='title'>Books</h1>
	<div>
		<section class='relative mb-10 w-full' aria-label='Bookshelf'>
			<Bookshelf books={[...books, ...books, ...books, ...books]} inView={16} />
		</section>
	</div>
	<div class='grid max-w-full gap-y-2 sm:grid-cols-[3fr_1fr] sm:gap-x-8'>
		<section aria-label='Blog post list'>
			<ul class='space-y-8 text-start'>
				{
					page.data.map(p => (
						<li class='flex flex-col flex-wrap gap-2 sm:flex-row [&_q]:basis-full'>
							<BookPreview as='h1' post={p} withDesc />
						</li>
					))
				}
			</ul>
			<Pagination {...paginationProps} />
		</section>
	</div>
</BaseLayout>
