---
import ProjectCard from "@/components/ProjectCard.astro";
import PageLayout from "@/components/layout/Base.astro";
import { getAllProjectsClient,getAllProjectsServer } from "@/utils";

const projects = await getAllProjectsClient()

/*
import type { GetStaticPaths, InferGetStaticPropsType } from "astro";

export const getStaticPaths = (async () => {
	const projectsEntries = await getAllProjectsServer();
	return [{
    props: { projects: projectsEntries },
  }]
}) satisfies GetStaticPaths;

type Props = InferGetStaticPropsType<typeof getStaticPaths>;

const { projects } = Astro.props;
const { Content } = await projects.render();
*/

---

<PageLayout meta={{ title: "Projects" }}>
	<h1 class="title mb-6">Projects</h1>
	<div>
    {
      projects.map((project) => (
        <ProjectCard
          sources={{ Github: project?.data.github }}
          tags={project?.data.tags}
          title={project?.data.title}
        >
        <project.Content/>
        </ProjectCard>
      ))

    }
	</div>
</PageLayout>
