---
import PageLayout from "@/layouts/Base.astro";
import Title from "@/components/Title.astro";
import ProjectCard from "@/components/ProjectCard.astro";
---

<PageLayout meta={{ title: "Projects" }}>
	<Title>Projects</Title>
	<div>
		<ProjectCard
			title="trBPE: A Byte Pair Encoder tailored for Turkish"
			sources={{ Github: "https://github.com/amar-jay/trBPE" }}
		>
			Lorem ipsum dolor sit amet, officia excepteur ex fugiat reprehenderit enim labore culpa sint
			ad nisi Lorem pariatur mollit ex esse exercitation amet. Nisi anim cupidatat excepteur
			officia. Reprehenderit nostrud nostrud ipsum Lorem est aliquip amet voluptate voluptate dolor
			minim nulla est proident. Nostrud officia pariatur ut officia. Sit irure elit esse ea nulla
			sunt ex occaecat reprehenderit commodo officia dolor Lorem duis laboris cupidatat officia
			voluptate. Culpa proident adipisicing id nulla nisi laboris ex in Lorem sunt duis officia
			eiusmod. Aliqua reprehenderit commodo ex non excepteur duis sunt velit enim. Voluptate laboris
			sint cupidatat ullamco ut ea consectetur et est culpa et culpa duis.
		</ProjectCard>
		<ProjectCard
			title="trBPE: A Byte Pair Encoder tailored for Turkish"
			sources={{ Github: "https://github.com/amar-jay/trBPE" }}
		>
			Lorem ipsum dolor sit amet, officia excepteur ex fugiat reprehenderit enim labore culpa sint
			ad nisi Lorem pariatur mollit ex esse exercitation amet. Nisi anim cupidatat excepteur
			officia. Reprehenderit nostrud nostrud ipsum Lorem est aliquip amet voluptate voluptate dolor
			minim nulla est proident. Nostrud officia pariatur ut officia. Sit irure elit esse ea nulla
			sunt ex occaecat reprehenderit commodo officia dolor Lorem duis laboris cupidatat officia
			voluptate. Culpa proident adipisicing id nulla nisi laboris ex in Lorem sunt duis officia
			eiusmod. Aliqua reprehenderit commodo ex non excepteur duis sunt velit enim. Voluptate laboris
			sint cupidatat ullamco ut ea consectetur et est culpa et culpa duis.
		</ProjectCard>

		<ProjectCard
			title="trBPE: A Byte Pair Encoder tailored for Turkish"
			sources={{ Github: "https://github.com/amar-jay/trBPE" }}
		>
			Lorem ipsum dolor sit amet, officia excepteur ex fugiat reprehenderit enim labore culpa sint
			ad nisi Lorem pariatur mollit ex esse exercitation amet. Nisi anim cupidatat excepteur
			officia. Reprehenderit nostrud nostrud ipsum Lorem est aliquip amet voluptate voluptate dolor
			minim nulla est proident. Nostrud officia pariatur ut officia. Sit irure elit esse ea nulla
			sunt ex occaecat reprehenderit commodo officia dolor Lorem duis laboris cupidatat officia
			voluptate. Culpa proident adipisicing id nulla nisi laboris ex in Lorem sunt duis officia
			eiusmod. Aliqua reprehenderit commodo ex non excepteur duis sunt velit enim. Voluptate laboris
			sint cupidatat ullamco ut ea consectetur et est culpa et culpa duis.
		</ProjectCard>

		<ProjectCard
			title="trBPE: A Byte Pair Encoder tailored for Turkish"
			sources={{ Github: "https://github.com/amar-jay/trBPE" }}
		>
			Lorem ipsum dolor sit amet, officia excepteur ex fugiat reprehenderit enim labore culpa sint
			ad nisi Lorem pariatur mollit ex esse exercitation amet. Nisi anim cupidatat excepteur
			officia. Reprehenderit nostrud nostrud ipsum Lorem est aliquip amet voluptate voluptate dolor
			minim nulla est proident. Nostrud officia pariatur ut officia. Sit irure elit esse ea nulla
			sunt ex occaecat reprehenderit commodo officia dolor Lorem duis laboris cupidatat officia
			voluptate. Culpa proident adipisicing id nulla nisi laboris ex in Lorem sunt duis officia
			eiusmod. Aliqua reprehenderit commodo ex non excepteur duis sunt velit enim. Voluptate laboris
			sint cupidatat ullamco ut ea consectetur et est culpa et culpa duis.
		</ProjectCard>
	</div>
</PageLayout>
